.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
   
  }
  
  .card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #9f9c9c;
    text-align: center;
  }
  
  .card img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
  
  .card h2 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  
  .card p {
    font-size: 14px;
    color: #666;
    text-align: justify;
  }
  
  .card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  .card h3{

    color: white;

  }
  @media (max-width: 768px) {
    .card {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 375px) {
    .card {
      width: 100%;
    }
  }
  